img {
    width: 150px;
    display: inline-block;
    margin: 10px;
}

.big-gif {
    width: 300px; 
}

body {
    text-align: center;
    font-family: 'Comic Sans MS';
    background-color: lightblue;
}